/* hero */

.hero {
    background-color: $background-color-hero;
    text-align: center;
    padding-top: 118px;
    padding-bottom: 118px;
    max-width: 480px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient( to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/hero-photo.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .hero-title {
        color: $secondary-text-color;
        font-weight: $mobile-font-weight-hero-title;
        font-size: $mobile-font-size-hero-title;
        line-height: $mobile-line-height-hero-title;
        letter-spacing: 0.06em;
        text-align: center;
        text-transform: uppercase;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
        margin-bottom: 30px;    
        width: 360px;
    }

    .hero-button {
        background-color: $background-color-hero-button;
        color: $secondary-text-color; 
        font-weight: $mobile-font-weight-hero-button;
        font-size: $mobile-font-size-hero-button;
        line-height: $mobile-line-height-hero-button;
        letter-spacing: 0.06em;
        border-radius: 4px;
        padding: 10px 32px;
        min-width: 200px;
        cursor: pointer;
    }
}