/* hero */

.hero {
    background-color: $background-color-hero;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-position: center;

    .hero-title {
        color: $secondary-text-color;
        letter-spacing: 0.06em;
        text-align: center;
        text-transform: uppercase;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
        margin-bottom: 30px;    
    }

    .hero-button {
        background-color: $background-color-hero-button;
        color: $secondary-text-color; 
        font-weight: $mobile-font-weight-hero-button;
        font-size: $mobile-font-size-hero-button;
        line-height: $mobile-line-height-hero-button;
        letter-spacing: 0.06em;
        border-radius: 4px;
        padding: 10px 32px;
        min-width: 200px;
        cursor: pointer;
    }
}








@media screen and (max-width: 767px) {

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient( to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/hero/mobile-hero@2x.jpg');
    }
    }
    .hero {
        
        padding-top: 118px;
        padding-bottom: 118px;
        width: 480px;
        height: 400px;
        background-image: linear-gradient( to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/hero/mobile-hero.jpg');
        background-size: 480px 400px;

        .hero-title {
            font-weight: $mobile-font-weight-hero-title;
            font-size: $mobile-font-size-hero-title;
            line-height: $mobile-line-height-hero-title;   
            width: 360px;
        }
        .hero-button {
            background-color: $background-color-hero-button;
            color: $secondary-text-color; 
            font-weight: $mobile-font-weight-hero-button;
            font-size: $mobile-font-size-hero-button;
            line-height: $mobile-line-height-hero-button;
            letter-spacing: 0.06em;
            border-radius: 4px;
            padding: 10px 32px;
            min-width: 200px;
            cursor: pointer;
        }
    }
}











@media screen and (min-width: 768px) and (max-width: 1199px) {

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient( to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/hero/tablet-hero@2x.jpg');
    }
    }
    .hero {
        
        padding-top: 118px;
        padding-bottom: 118px;
        width: 768px;
        height: 400px;
        background-image: linear-gradient( to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/hero/tablet-hero.jpg');
        background-size: 768px 400px;

    }
}















@media screen and (min-width: 1200px) {

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient( to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/hero/desktop-hero@2x.jpg');
    }
    }
    .hero {
        padding-top: 200px;
        padding-bottom: 200px;
        max-width: 1600px;
        height: 600px;
        background-image: linear-gradient( to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/hero/desktop-hero.jpg');
        background-size: 1600px 600px;

        .hero-title {
            font-weight: $font-weight-hero-title;
            font-size: $font-size-hero-title;
            line-height: 1.36;   
            width: 696px;
        }
    }
}

