/* our team */

.section-workers { 
    background-color: $background-color-section-workers;
    padding-top: 60px;
    padding-bottom: 60px;
    

    .workers-title-name { 
        color: $title-text-color;
        font-weight: $mobile-font-weight-workers-title;
        font-size: $mobile-font-size-workers-title;
        line-height: $mobile-line-height-workers-title;
        margin-top: 30px;
        margin-bottom: 10px; 
        text-align: center;
    }

    p {  
        font-size: $mobile-font-size-workers-p;
        line-height: $mobile-line-height-workers-p;
        letter-spacing: 0.03em; 
        margin-top: 0px;
        margin-bottom: 16px; 
        text-align: center;
    }
}

.section-workers-container {
    // display: flex;
    // flex-wrap: wrap;
    padding-left: 15px;
    padding-right: 15px;

    .item:not(:last-child) {
        // margin-right: 30px;
        margin-bottom: 30px;
    }
}

.workers-title-item {
    background-color: $background-color-body;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    padding-bottom: 24px;
    // margin-bottom: 30px;
}

.social-link {
    display: flex;
    flex-wrap: wrap;
    
    margin-top: 16px;
    
    margin-left: 122px;
    margin-right: 122px;
    justify-content: space-between;
    list-style: none;
}

.link-social {
    color: $link-social-color;
    background-color: $background-color-section;
    padding: 12px;
    width: 44px;
    height: 44px;
    border: none;
    display: block;
    border-radius: 50%;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    background-color: $background-color-button;
    color: $secondary-text-color;
    }
}

.icon-social {
    fill: currentColor;
}