    $primary-text-color: #757575;
    $accent-text-color:#2196F3;
    $title-text-color:#212121;
    $secondary-text-color: #FFFFFF;
    $background-color-body: #FFFFFF;
    $background-color-hero: #C4C4C4;
    $background-color-hero-button: #2196F3;
    $background-color-section-workers: #F5F4FA;
    $background-color-section: #FFFFFF;
    $background-color-footer: #2F303A;
    $background-color-filter-button: #F5F4FA;
    $background-color-section-features: #F5F4FA;
    $background-color-button: #2196F3;
    $link-social-color:  #AFB1B8;
    $background-color-border:  #EEEEEE;
    $background-color-header-border: #ECECEC;


    $font-family-body : Roboto, sans-serif;
    $font-weight-body: 400;
    $font-weight-title-name: 700;
    $font-size-title-name: 14px;
    $font-size-features-name: 14px;
    $font-size-address-nav: 14px;
    $font-weight-address-nav: 500;
    $font-family-logo: Raleway,sans-serif;
    $font-size-logo: 26px;
    $font-size-button: 16px;
    $font-size-text-form: 20px;
    $font-size-form-fild: 12px;
    $font-weight-hero-title: 900;
    $font-size-hero-title: 44px;
    $font-size-portfolio-title: 18px;
    $font-size-section-title: 36px;
